.ProseMirror .tableWrapper {
  overflow-x: auto;
  border-radius: 8px;
}
.ProseMirror table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  overflow: hidden;
}
.ProseMirror td,
.ProseMirror th {
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror td:not([data-colwidth]):not(.column-resize-dragging),
.ProseMirror th:not([data-colwidth]):not(.column-resize-dragging) {
  /* if there's no explicit width set and the column is not being resized, set a default width */
  min-width: var(--default-cell-min-width);
}

.ProseMirror .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: var(--tt-table-column-resize-handle-bg, hsl(217, 91%, 60%));
  pointer-events: none;
  opacity: 0.8;
}
.ProseMirror.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
/* Give selected cells a styled overlay */
.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--tt-table-selected-bg, rgba(195, 189, 255, 0.4));
  pointer-events: none;
  border: 2px solid var(--tt-table-selected-stroke, hsl(217, 91%, 60%));
  border-radius: 2px;
}
